$padding: 10vmin;
$bcolor: #000000;

@mixin arrange($color1, $position1) {
  position: $position1;
  color: $color1;
}
@mixin arrange2($bgcolor, $pad) {
  background-color: $bgcolor;
  padding: $pad;
}

body {
  background-color: black;
}
* {
  box-sizing: border-box;
}

header,
section {
  overflow-x: hidden;
}

header a {
  font-size: 0.8em;
  color: whitesmoke;
}
header {
  background: #000000;
}

header .nav-item:last-child {
  padding-right: 10.5em;
}

header .nav-item {
  padding: 0.9em;
}

header .navbar-brand {
  padding-left: 8rem;
}
section {
  background: $bcolor;
}
.section-1 {
  padding: $padding * 2 0;
}

.section-1 .row .col-md-6 .pray img {
  opacity: 0.7;
  width: 80%;
  border-radius: 0.2em;
}

.section-1 .row .col-md-6 :last-child {
  position: relative;
}

.section-1 .row .col-md-6 .panel {
  position: absolute;
  color: white;
  border-radius: 3px;
  text-align: left;
  box-shadow: opx 25px 42px;
}
li {
  list-style-type: none;
}
.location {
  color: white;
}
footer {
  background: #000000;
  padding: 50px;
}

footer .column i {
  color: white;
}

footer .column a {
  padding: 0 0.5em;
}
@mixin arrange3($bgcolor, $color) {
  background-color: $bgcolor;
  color: $color;
}
// .pie__container__row__titulo__text {
//   @include arrange3(lightgrey, #000000);
//   // background-color: lightgrey;
//   // color: #000000;
// }

.table {
  @include arrange2(#000000, 40px);
  // background-color: #000000;
  color: white;
  // padding: 40px;
}

.table-container {
  padding: 30px;
  border-radius: 10px;
}

/* Galeria */
// .padding {
//   padding-left: 150px;
//   padding-right: 150px;
// }
/* contacto */
.form-container {
  padding: 30px;
  border-radius: 10px;
}
